#banner{
    background-color: blue;
}

#main{
    background-color:red;
}
#main-post{
    background-color:grey;
}
#side-post{
    background-color:grey;

}
#navBar{
    background-color:green;
}

#footer{
    background-color: yellow;
}
img {
    max-width: 100%;
    max-height: 100%;
  }